@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");
*,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: static;
  overflow-x: hidden;
  max-width: 100vw;
  width: 100vw;
}

*:focus {
  outline: none;
}

header {
  position: relative;
  height: 100vh;
  width: 100vw;
}

header .slick-slider .slick-dots {
  bottom: 15px;
}

header .slick-slider .slick-dots li {
  width: 12px;
  height: 12px;
}

header .slick-slider .slick-dots li button:before {
  color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.493);
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

header .slick-slider .slick-dots li.slick-active button:before {
  color: transparent;
  border: 1px solid white;
  border-radius: 100%;
  opacity: 1;
}

header .slick-slider .headline {
  position: absolute;
  color: #fff;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
  letter-spacing: -0.3px;
  font-weight: 300;
}

header .slick-slider .headline .animated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .slick-slider img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100%;
}

header .inner-header {
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 84%;
}

header nav {
  position: absolute;
  z-index: 2;
  top: 0;
  -webkit-animation: slideDown 0.5s;
          animation: slideDown 0.5s;
  width: 100%;
}

header nav .desktop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.815);
}

header nav .desktop li {
  display: inline-block;
}

header nav .desktop li a {
  position: relative;
  font-size: 1.2em;
  text-transform: uppercase;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}

header nav .desktop li a:hover {
  color: #DDA960;
  text-decoration: none;
}

header nav .desktop li a:hover::after {
  width: 80%;
}

header nav .desktop li a:after {
  content: "";
  position: absolute;
  right: 0;
  left: 50%;
  bottom: 12px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 2px;
  background-color: currentColor;
  -webkit-transition: 0.3s width ease;
  transition: 0.3s width ease;
}

header nav .desktop li .active {
  color: #DDA960;
  text-decoration: none;
}

header nav .desktop li .active::after {
  content: "";
  position: absolute;
  right: 0;
  left: 50%;
  bottom: 12px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 80%;
  height: 2px;
  background-color: currentColor;
  -webkit-transition: 0.3s width ease;
  transition: 0.3s width ease;
}

header .bm-overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

header .bm-item-list {
  position: fixed !important;
  padding-top: 80px;
  padding-left: 1%;
}

header .bm-item-list li {
  display: inline;
}

header .bm-item-list li a {
  font-size: 1.2em;
  text-transform: uppercase;
  display: block;
  color: white;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}

header .bm-item-list li a:active, header .bm-item-list li a:focus, header .bm-item-list li a:hover {
  color: #DDA960;
  text-decoration: none;
}

header .bm-item-list li a:active::after, header .bm-item-list li a:focus::after, header .bm-item-list li a:hover::after {
  width: 20%;
}

header .bm-item-list li .active {
  color: #DDA960;
  text-decoration: none;
}

header .bm-burger-button {
  left: 5%;
  top: 5%;
  width: 50px !important;
  height: 50px !important;
  position: fixed;
}

header .bm-burger-button .bm-burger-bars {
  background-color: white;
  width: 36px !important;
  height: 6px !important;
  position: absolute;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.123);
}

header .bm-burger-button .bm-burger-bars:nth-child(1) {
  top: 0 !important;
}

header .bm-burger-button .bm-burger-bars:nth-child(2) {
  top: 20% !important;
}

header .bm-burger-button .bm-burger-bars:nth-child(3) {
  top: 40% !important;
}

.top-nav .desktop {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  height: 120px;
}

.top-nav--hidden {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.top-nav--hidden .desktop {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  height: 50px;
  background-color: black;
}

#photo {
  line-height: 0;
  -webkit-column-count: 5;
          column-count: 5;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

#photo img {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photo {
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  #photo {
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  #photo {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  #photo {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

footer {
  font-size: 12px;
  background-color: #0C0707;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  color: white;
}
/*# sourceMappingURL=style.css.map */